In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tokur,RU,2021-11-21 22:01:03,53.1333,132.9000,-3.55,93,100,4.00
1,1,Torbay,CA,2021-11-21 22:01:03,47.6666,-52.7314,30.76,79,13,4.00
2,2,Hermanus,ZA,2021-11-21 21:59:05,-34.4187,19.2345,68.90,86,100,17.20
3,3,Estacion Coahuila,MX,2021-11-21 22:01:03,32.1939,-115.0017,80.96,14,100,17.76
4,4,Portland,US,2021-11-21 21:58:24,45.5234,-122.6762,55.47,81,75,3.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))