In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
import matplotlib.pyplot as plt
import numpy as np
import json

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tokur,RU,2021-11-21 22:01:03,53.1333,132.9000,-3.55,93,100,4.00
1,1,Torbay,CA,2021-11-21 22:01:03,47.6666,-52.7314,30.76,79,13,4.00
2,2,Hermanus,ZA,2021-11-21 21:59:05,-34.4187,19.2345,68.90,86,100,17.20
3,3,Estacion Coahuila,MX,2021-11-21 22:01:03,32.1939,-115.0017,80.96,14,100,17.76
4,4,Portland,US,2021-11-21 21:58:24,45.5234,-122.6762,55.47,81,75,3.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [35]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Estacion Coahuila,MX,2021-11-21 22:01:03,32.1939,-115.0017,80.96,14,100,17.76
7,7,Samarai,PG,2021-11-21 22:01:04,-10.6167,150.6667,83.07,77,45,13.58
12,12,Honiara,SB,2021-11-21 22:01:05,-9.4333,159.9500,84.69,66,2,3.71
16,16,Vaini,TO,2021-11-21 22:01:06,-21.2000,-175.2000,79.30,80,59,6.44
21,21,Mareeba,AU,2021-11-21 22:01:07,-17.0000,145.4333,79.32,78,8,2.01
24,24,Touros,BR,2021-11-21 21:59:07,-5.1989,-35.4608,81.50,75,10,14.27
25,25,Jacareacanga,BR,2021-11-21 22:01:07,-6.2222,-57.7528,76.21,95,96,1.05
31,31,Mabaruma,GY,2021-11-21 22:01:09,8.2000,-59.7833,75.65,90,100,2.86
32,32,Puerto Ayora,EC,2021-11-21 21:59:02,-0.7393,-90.3518,76.96,82,64,8.99
39,39,Butaritari,KI,2021-11-21 21:59:06,3.0707,172.7902,80.98,79,33,7.96

In [36]:
preferred_cities_df.count()

City_ID       156
City          156
Country       155
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
3   Estacion Coahuila      MX     80.96  32.1939 -115.0017
7             Samarai      PG     83.07 -10.6167  150.6667
12            Honiara      SB     84.69  -9.4333  159.9500
16              Vaini      TO     79.30 -21.2000 -175.2000
21            Mareeba      AU     79.32 -17.0000  145.4333
24             Touros      BR     81.50  -5.1989  -35.4608
25       Jacareacanga      BR     76.21  -6.2222  -57.7528
31           Mabaruma      GY     75.65   8.2000  -59.7833
32       Puerto Ayora      EC     76.96  -0.7393  -90.3518
39         Butaritari      KI     80.98   3.0707  172.7902

In [38]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [39]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
hotel_df.count()

City          156
Country       155
Max Temp      156
Lat           156
Lng           156
Hotel Name    156
dtype: int64

In [42]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Estacion Coahuila,MX,80.96,32.1939,-115.0017,carroceria y pintura Kikones
7,Samarai,PG,83.07,-10.6167,150.6667,Nuli Sapi
12,Honiara,SB,84.69,-9.4333,159.9500,Heritage Park Hotel
16,Vaini,TO,79.30,-21.2000,-175.2000,Keleti Beach Resort
21,Mareeba,AU,79.32,-17.0000,145.4333,Trinity Plains Tourist Park
24,Touros,BR,81.50,-5.1989,-35.4608,INN NEW HORIZON
25,Jacareacanga,BR,76.21,-6.2222,-57.7528,Casa do IanðŸ˜Ž
31,Mabaruma,GY,75.65,8.2000,-59.7833,Monty Brooms Guest House
32,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
39,Butaritari,KI,80.98,3.0707,172.7902,Isles Sunset Lodge

In [43]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [51]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [52]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))